.support {
	&__container {
		border-radius: 10px;
		border: 1px solid var(--deals-border-color);
		padding: 20px;
		display: flex;
		justify-content: space-between;
		gap: 10px;
		&-table {
			outline: 1px solid var(--border-color);
			outline-offset: -1px;
			display: flex;
			flex-direction: column;
			height: fit-content;
			max-width: 980px;
			overflow: hidden;
			border-radius: 5px;
		}
		&-stats {
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-bottom: 10px;
		}
	}
	&__aside {
		max-width: 170px;
		min-width: 170px;
	}
	&__text {
		&-blue {
			color: var(--track-color);
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	&__tip {
		color: var(--real-black-color);
		text-align: center;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		padding: 12px;
		width: 100%;
		border-radius: 5px;
		&-green {
			background: #cef2cd;
		}
		&-red {
			background: #fdcdcd;
		}
		&-blue {
			background: #c0eefd;
		}
	}
	&__table {
		width: 100%;
		max-width: 980px;
		height: fit-content;
		border-radius: 5px;
		// max-width: 980px;
	}
	&__header {
		border-radius: 5px;
		background: var(--track-color);
		& .hero__cell {
			&:first-child {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}
			&:last-child {
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}
	&__col {
		box-sizing: border-box;
		flex-shrink: 0;
		&-stage {
			position: relative;
			box-sizing: border-box;
			min-width: 190px;
			width: 100%;
			justify-content: center;
		}
		&-contact {
			box-sizing: border-box;
			min-width: 190px;
			width: 100%;
			justify-content: center;
		}
		&-deal {
			box-sizing: border-box;
			min-width: 240px;
			width: 100%;
			justify-content: center;
		}
		&-isClosed {
			box-sizing: border-box;
			min-width: 100px;
			width: 100%;
			justify-content: center;
		}
		&-created {
			box-sizing: border-box;
			min-width: 130px;
			width: 100%;
			justify-content: center;
		}
		&-comment {
			box-sizing: border-box;
			min-width: 300px;
			width: 100%;
			justify-content: center;
		}
		&-category {
			box-sizing: border-box;
			min-width: 250px;
			width: 100%;
			justify-content: center;
		}
		&-time {
			box-sizing: border-box;
			min-width: 150px;
			width: 100%;
			justify-content: center;
		}
		&-completed {
			box-sizing: border-box;
			min-width: 350px;
			width: 100%;
			justify-content: center;
		}
	}
	&__row {
		width: 1900px;
		display: flex;
		&:not(:first-child) {
			box-shadow: 0 -1px 0 var(--border-color);
		}
		& .hero__cell {
			&:first-child {
				padding-left: 9px;
				border-left: 1px solid transparent !important;
			}
			&:last-child {
				border-right: 1px solid transparent !important;
				padding-right: 9px;
			}
		}
	}
	&__cell {
		display: flex;
		align-items: center;
		text-align: center;
		padding: 19px 6px;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0em;
		color: var(--black-color);
		border-right: 1px solid transparent;
		border-left: 1px solid transparent;
		transition: border 0.2s ease;
		&-header {
			position: relative;
			font-size: 16px;
			font-weight: 700;
			padding-top: 20px;
			padding-bottom: 20px;
			color: var(--white-color);
			justify-content: center;
			// border: 1px solid var(--track-color);
			z-index: 100;
			&-hide-after {
				&::after {
					opacity: 0;
				}
			}
			&:not(:last-child) {
				&::after {
					content: "";
					position: absolute;
					right: -1px;
					top: 50%;
					transform: translateY(-50%);
					background: var(--border-color);
					width: 1px;
					height: 55%;
					transition: opacity 0.4s ease;
				}
			}
		}
		&-hovered {
			border-right: 1px solid var(--border-color);
			border-left: 1px solid var(--border-color);
		}
		& a {
			font-size: inherit;
			line-height: inherit;
			font-weight: inherit;
			color: inherit;
			text-decoration: none;
		}
		&-deal {
			text-align: left;
		}
	}
	&__circle {
		&-green {
			circle {
				fill: var(--dark-green-color);
			}
		}
		&-red {
			circle {
				fill: var(--red-color);
			}
		}
		&-blue {
			circle {
				fill: var(--blue-color);
			}
		}
	}
	&__footer {
		border-top: 1px solid rgba(225, 83, 53, 0.1);
		max-width: 980px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 22px;
	}
	&__text {
		&-pages {
			position: relative;
			display: flex;
			align-items: center;
		}
		&-page {
			margin-right: 11px;
			&-hidden {
				display: none;
			}
		}
		&-footer {
			font-family: var(--second-family);
			font-size: 11px;
			font-weight: 600;
			line-height: 15px;
			text-transform: uppercase;
			margin: 0;
		}
	}
	&__button {
		width: 100%;
		padding: 9px 14px;
		padding-bottom: 11px;
		color: var(--white-color);
		font-family: "Golos Text";
		font-size: 9px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 5px;
		background: var(--track-color);
		text-decoration: none;
		&-refill {
			padding: 5px 10px;
			width: 100%;
			background: var(--grey-color);
			border-radius: 5px;
			font-family: "Golos Text";
			font-size: 10px;
			line-height: 12px;
			margin-bottom: 10px;
			transition: background 0.4s ease, color 0.4s ease;
			&:hover {
				background: var(--grey-hover-color);
				color: var(--white-color);
			}
		}
		&-control {
			font-family: var(--second-family);
			font-size: 11px;
			font-weight: 600;
			line-height: 15px;
			text-transform: uppercase;
			&:disabled {
				color: var(--black-color);
			}
		}
		&-prev {
			margin-right: 25px;
		}
		&-next {
			margin-left: 27px;
		}
		&-last {
			position: relative;
			margin-left: 27px;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: -13px;
				height: 100%;
				width: 1px;
				background: var(--black-color);
				font-weight: 700;
			}
		}
	}
	&__pagination {
		max-width: 99px;
		position: relative;
		bottom: unset !important;
		left: unset !important;
	}
	&__bullet {
		display: block;
		position: relative;
		background: transparent;
		font-family: var(--second-family);
		font-size: 13px;
		font-weight: 600;
		line-height: 15px;
		margin-left: 0 !important;
		opacity: 1;
		height: 100% !important;
		line-height: 18px;
		transition: color 0.3s linear;
		text-align: center;
		margin-right: 20px !important;
		min-width: 20.8px;
		&:last-child {
			margin-right: 0 !important;
		}
		&:first-child {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: -13px;
				height: 100%;
				width: 1px;
				background: var(--black-color);
				font-weight: 700;
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: -49%;
			height: 100%;
			width: 1px;
			background: var(--black-color);
			font-weight: 700;
		}
		&-active {
			color: var(--blue-color);
		}
	}
	&__select {
		appearance: none;
		padding: 5px 49px 5px 15px;
		border-radius: 2px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		font-family: var(--second-family);
		font-size: 12px;
		font-weight: 400;
		margin-left: 11px;
		background: url("../img/down-arrow.svg") no-repeat var(--white-color);
		background-size: 17px 9px;
		background-position-x: 75%;
		background-position-y: 50%;
	}
	&__slide {
		overflow-x: scroll;
		& .support__row {
			&:first-child {
				position: relative;
				border-radius: 5px;
				&::after {
					content: "";
					position: absolute;
					inset: 0;
					z-index: 80;
					width: 1900px;
					background: var(--track-color);
					border-radius: 5px;
				}
			}
			&:nth-child(2) {
				box-shadow: none;
			}
		}
	}
	& .progress-bar {
		&__stat {
			padding: 10px 14px 11px 10px;
		}
		&__title {
			&-tarif {
				&-small {
					font-size: 12px;
				}
			}
		}
	}
}
