<section class="deals">
	<div class="container">
		<div class="deals__container">
			<aside class="deals__aside">
				<div class="deals__info">
					<ul class="deals__balance list-reset">
						<li class="deals__item">
							<h5 class="deals__title-balance">Баллы <span class="deals__text-blue">OPTI</span></h5>
							<h5 class="deals__value">20 000</h5>
						</li>
						<li class="deals__item deals__item-green">
							<h5 class="deals__title-balance">Выплачено</h5>
							<h5 class="deals__value">1 500 000</h5>
						</li>
						<li class="deals__item deals__item-red">
							<h5 class="deals__title-balance">К выплате</h5>
							<h5 class="deals__value">125 000</h5>
						</li>
						<li class="deals__item deals__item-blue">
							<h5 class="deals__title-balance">В работе</h5>
							<h5 class="deals__value">350 000</h5>
						</li>
					</ul>
					<a href="./" class="deals__button">
						<img
							loading="lazy"
							src="./img/left-arrow.svg"
							class="image deals__icon-arrow"
							width="6"
							height="10"
							alt="Стрелка назад"
						/>
						Вернуться в личный кабинет
					</a>
				</div>
				<div class="deals__legend">
					<h5 class="deals__title-aside">*Цветовые обозначения</h5>
					<ul class="list-reset deals__list">
						<li class="deals__tip deals__tip-red">к выплате / к оплате</li>
						<li class="deals__tip deals__tip-blue">в работе</li>
						<li class="deals__tip deals__tip-green">выплачено / оплачено</li>
					</ul>
				</div>
			</aside>
			<div class="deals__table">
				<div class="deals__header">
					<div class="deals__row">
						<div class="deals__cell deals__cell-header deals__col-id">ID</div>
						<div class="deals__cell deals__cell-header deals__col-date">Дата</div>
						<div class="deals__cell deals__cell-header deals__col-company">Компания</div>
						<div class="deals__cell deals__cell-header deals__col-deal">Сделка</div>
						<div class="deals__cell deals__cell-header deals__col-summ">Сумма</div>
						<div class="deals__cell deals__cell-header deals__col-cashback">Кэшбэк</div>
					</div>
				</div>
				<div class="swiper deals__slider">
					<div class="swiper-wrapper deals__wrapper"></div>
				</div>
				<div class="deals__footer">
					<p class="deals__text-all deals__text-footer">
						Всего:
						<span class="deals__text-footer deals__text-all-value"></span>
					</p>
					<div class="deals__text-pages deals__text-footer">
						<span class="deals__text-page">
							Страницы:
							<span class="deals__text-page deals__text-page-1 deals__text-page-hidden">1</span>
						</span>
						<button class="btn-reset deals__button-control deals__button-prev">Пред</button>
						<div class="deals__container-slider-bullets swiper">
							<div class="swiper-wrapper deals__pagination"></div>
						</div>
						<button class="btn-reset deals__button-control deals__button-next">След.</button>
						<button class="btn-reset deals__button-control deals__button-last">Последняя</button>
					</div>
					<p class="deals__text-onpage deals__text-footer">
						На странице:
						<select class="deals__select select"></select>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
