<section class="hero">
	<div class="container hero__container">
		<div class="hero__column hero__column-user">
			<div class="hero__user hero__border">
				<img
					src="./img/avatar.svg"
					class="image hero__avatar"
					width="75"
					height="75"
					alt="Аватар пользователя"
				/>
				<h4 class="hero__title-user">Погребнюк Анатолий</h4>
			</div>
			<div class="hero__reports">
				<a href="./support.html" class="btn-reset hero__report hero__report-support">Отчет по поддержке</a>
				<a href="./deals.html" class="btn-reset hero__report hero__report-deals">Отчет по сделкам</a>
			</div>
		</div>
		<div class="hero__column hero__column-tarif">
			<div class="hero__tarif hero__border">
				<div class="hero__column-inner">
					<h5 class="hero__title-tarif-small">Мой тариф</h5>
					<h3 class="hero__title-tarif">Стандарт</h3>
					<h4 class="hero__title-billing">38 400 руб/мес</h4>
				</div>
				<div class="hero__column-inner hero__column-inner-center">
					<h5 class="hero__title-tarif-small">Остатки по пакетам в этом месяце</h5>
					<div class="hero__container-stats">
						<div class="progress-bar__stat">
							<h5 class="progress-bar__title-tarif-small progress-bar__title-tarif-small-darker">
								Доработки
							</h5>
							<p class="progress-bar__text-stat">
								<span
									class="progress-bar__text-stat progress-bar__text-stat-bigger progress-bar__text-current"
									data-current="4"
								>
									4
								</span>
								<span class="progress-bar__text-stat progress-bar__text-all" data-all="5">5</span> часов
							</p>
							<div class="progress-bar">
								<div class="progress-bar__track"></div>
							</div>
						</div>
						<div class="progress-bar__stat">
							<h5 class="progress-bar__title-tarif-small progress-bar__title-tarif-small-darker">
								Встречи
							</h5>
							<p class="progress-bar__text-stat">
								<span
									class="progress-bar__text-stat progress-bar__text-stat-bigger progress-bar__text-current"
									data-current="0"
								>
									0
								</span>
								<span class="progress-bar__text-stat progress-bar__text-all" data-all="5">5</span> часов
							</p>
							<div class="progress-bar">
								<div class="progress-bar__track"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="hero__column-inner hero__column-inner-buttons">
					<div class="hero__container-buttons">
						<a href="#" class="hero__button hero__button-condition">Условия</a>
						<a href="#" class="hero__button hero__button-change">Сменить тариф</a>
					</div>
				</div>
			</div>
			<div class="hero__container-balance hero__border">
				<ul class="hero__balance list-reset">
					<li class="hero__item">
						<h5 class="hero__title-balance" data-tooltip="Кэшбэк">
							Баллы <span class="hero__text-blue">OPTI</span>
						</h5>
						<h5 class="hero__value">20 000</h5>
					</li>
					<li class="hero__item hero__item-green">
						<h5 class="hero__title-balance" data-tooltip="Выплаченный кешбэк">Выплачено</h5>
						<h5 class="hero__value">1 500 000</h5>
					</li>
					<li class="hero__item hero__item-red">
						<h5 class="hero__title-balance" data-tooltip="Сумма кэшбэка по успешным сделкам">К выплате</h5>
						<h5 class="hero__value">125 000</h5>
					</li>
					<li class="hero__item hero__item-blue">
						<h5 class="hero__title-balance" data-tooltip="Сумма сделок в работе">В работе</h5>
						<h5 class="hero__value">350 000</h5>
					</li>
				</ul>
				<div class="hero__services">
					<button class="btn-reset hero__service">Заказать новую услугу</button>
					<button class="btn-reset hero__service">Пополнить часы доработки</button>
					<button class="btn-reset hero__service">Перевести баллы в часы</button>
				</div>
			</div>
		</div>
		<div class="hero__column hero__column-info">
			<div class="hero__manager hero__border">
				<div class="hero__row hero__row-manager">
					<div class="hero__container-manager">
						<h5 class="hero__title-manager">Ваш менеджер проекта</h5>
						<h4 class="hero__title-name">Саночкин Олег</h4>
					</div>
					<img
						src="./img/avatar.svg"
						class="image hero__avatar hero__avatar-manager"
						width="60"
						height="60"
						alt="Аватар менеджера"
					/>
				</div>
				<div class="hero__services hero__services-manager">
					<button class="btn-reset hero__service hero__service-manager">Назначить online-встречу</button>
					<button class="btn-reset hero__service hero__service-manager">Написать менеджеру</button>
				</div>
			</div>
			<a class="hero__faq">
				<h3 class="hero__title-faq">FAQ</h3>
				<span class="hero__text-faq">ответы на часто задаваемые вопросы</span>
			</a>
		</div>
	</div>
</section>
