<section class="support">
	<div class="container">
		<div class="support__container">
			<aside class="support__aside">
				<div class="support__container-stats">
					<div class="progress-bar__stat">
						<h5 class="progress-bar__title-tarif-small progress-bar__title-tarif-small-darker">
							Доработки
						</h5>
						<p class="progress-bar__text-stat">
							<span
								class="progress-bar__text-stat progress-bar__text-stat-bigger progress-bar__text-current"
								data-current="4"
							>
								4
							</span>
							<span class="progress-bar__text-stat progress-bar__text-all" data-all="5">5</span> часов
						</p>
						<div class="progress-bar">
							<div class="progress-bar__track"></div>
						</div>
					</div>
					<div class="progress-bar__stat">
						<h5 class="progress-bar__title-tarif-small progress-bar__title-tarif-small-darker">Встречи</h5>
						<p class="progress-bar__text-stat">
							<span
								class="progress-bar__text-stat progress-bar__text-stat-bigger progress-bar__text-current"
								data-current="0"
							>
								0
							</span>
							<span class="progress-bar__text-stat progress-bar__text-all" data-all="5">5</span> часов
						</p>
						<div class="progress-bar">
							<div class="progress-bar__track"></div>
						</div>
					</div>
				</div>
				<button class="btn-reset support__button-refill">Пополнить часы доработки</button>
				<a href="./" class="support__button">
					<img
						loading="lazy"
						src="./img/left-arrow.svg"
						class="image deals__icon-arrow"
						width="6"
						height="10"
						alt="Стрелка назад"
					/>
					Вернуться в личный кабинет
				</a>
			</aside>
			<div class="support__container-table">
				<div class="support__table">
					<div class="swiper support__slider">
						<div class="swiper-wrapper support__wrapper"></div>
					</div>
				</div>
				<div class="support__footer">
					<p class="support__text-all support__text-footer">
						Всего:
						<span class="support__text-footer support__text-all-value"></span>
					</p>
					<div class="support__text-pages support__text-footer">
						<span class="support__text-page">
							Страницы:
							<span class="support__text-page support__text-page-1 support__text-page-hidden">1</span>
						</span>
						<button class="btn-reset support__button-control support__button-prev">Пред</button>
						<div class="support__container-slider-bullets swiper">
							<div class="swiper-wrapper support__pagination"></div>
						</div>
						<button class="btn-reset support__button-control support__button-next">След.</button>
						<button class="btn-reset support__button-control support__button-last">Последняя</button>
					</div>
					<p class="support__text-onpage support__text-footer">
						На странице:
						<select class="support__select select"></select>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
